<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezenbooks.main.dao.BestsellerDAO">
	<select id="getBestsellerList" parameterType="BestsellerDTO" resultType="BookDTO">
	<![CDATA[
		select * from (select b.BOOK_NUM, b.BOOK_TITLE, b.BOOK_AUTHOR, b.BOOK_PUBLISHER, b.BOOK_PUBDATE, b.BOOK_IMAGE, b.BOOK_PRICE, b.BOOK_ISBN
               from BOOKS b
                        inner join BOOK_CATEGORY bc on b.CATEGORY_CODE = bc.CATEGORY_CODE
                        inner join USER_ORDER_DETAIL uod on b.BOOK_NUM = uod.BOOKS_BOOK_NUM
                        inner join USER_ORDER UO on UO.ORDER_NUM = uod.ORDER_NUM
               where b.CATEGORY_CODE = #{category_code} and uo.order_date between to_date(#{start_date}, 'YYYYMMDD') and to_date(#{end_date}, 'YYYYMMDD')
               group by b.BOOK_NUM, b.BOOK_TITLE, b.BOOK_AUTHOR, b.BOOK_PUBLISHER, b.BOOK_PUBDATE, b.BOOK_IMAGE, b.BOOK_PRICE, b.BOOK_ISBN, uod.BOOK_COUNT
               order by sum(uod.BOOK_COUNT) desc)
		where rownum <= 10
	]]>
	</select>
	
	<select id="getNewBooksList" parameterType="Integer" resultType="BookDTO">
	<![CDATA[
		select * from (select b.*
               from BOOKS b
                        inner join BOOK_CATEGORY bc on bc.CATEGORY_CODE = b.CATEGORY_CODE
               where bc.CATEGORY_CODE = #{categoty_code}
               order by b.BOOK_PUBDATE desc)
		where rownum <= 10
	]]>
	</select>
</mapper>   













 
 
 
 
 
 
    